<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Fecha de caducidad</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Pantalla</td>
            <td>123.45</td>
            <td>12-10-2021</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Borrar</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Teclado</td>
            <td>12.45</td>
            <td>10-10-2021</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>

