<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Fecha de caducidad</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of productos">
            <td>{{p.id}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.precio | currency:'EUR' }}</td>
            <td>{{p.fechaCaducidad | date:'yyyy-MM-dd'}}</td>
            <td>
                <a class="btn btn-primary" routerLink="/formulario/{{p.id}}">Editar</a>
                <a class="btn btn-danger" (click)="borrar(p.id)">Borrar</a>
            </td>
        </tr>
    </tbody>
    <tfoot class="table-dark">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary" routerLink="/formulario">Añadir</button>
            </td>
        </tr>
    </tfoot>
</table>


