<form>
    <div>
        <label for="id">Id</label>
        <input id="id" type="number" readonly />
    </div>

    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" />
    </div>

    <div>
        <label for="precio">Precio</label>
        <input id="precio" type="number" step=".01" />
    </div>

    <div>
        <label for="fecha-caducidad">Fecha de caducidad</label>
        <input id="fecha-caducidad" type="date" />
    </div>

    <div>
        <button>Aceptar</button>
        <button>Cancelar</button>
    </div>
</form>
